ENVIRONMENT=dev
IIKO_API=PASTE_IKO_TOKEN
API_URL=https://tsolution.kz
EXPO_PUBLIC_API_URL=https://tsolution.kz
FIGMA_TOKEN_NAME=TOKEN_NAME2
FIGMA_TOKEN_GUID=TOKEN_GUID1
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID
EXPO_PUBLIC_SKIP_LOCATION_CHECK=true